                          allow_origin_string_match:
                            - exact: "__CORS_ORIGIN_EXACT__"
                            - safe_regex:
                                regex: "__CORS_ORIGIN_SUBDOMAIN_REGEX__"
