    - name: __VHOST_NAME__
      domains: __DOMAINS__
      typed_per_filter_config:
        envoy.filters.http.cors:
          "@type": type.googleapis.com/envoy.extensions.filters.http.cors.v3.CorsPolicy
__CORS_ALLOW_ORIGIN_MATCHES__
          allow_methods: "GET,POST,PUT,DELETE,OPTIONS"
          allow_headers: "keep-alive,user-agent,cache-control,content-type,content-transfer-encoding,authorization,x-accept-content-transfer-encoding,x-accept-response-streaming,x-user-agent,x-grpc-web,grpc-timeout,traceparent,tracestate,b3,baggage"
          expose_headers: "grpc-status,grpc-message,grpc-messages,error-code,error-codes,retry-after-seconds"
          max_age: "86400"
          allow_credentials: true
      response_headers_to_add:
        - header:
            key: "alt-svc"
            value: 'h3=":__ALT_SVC_PORT__"; ma=86400'
      routes:
        - match:
            prefix: "/otlp/v1/"
          route:
            cluster: otel_collector_http_cluster
            prefix_rewrite: "/v1/"
            timeout: 0s
          tracing:
            client_sampling:
              numerator: 0
              denominator: HUNDRED
            random_sampling:
              numerator: 0
              denominator: HUNDRED
            overall_sampling:
              numerator: 0
              denominator: HUNDRED
        - match: { prefix: "/auth/" }
          route:
            cluster: auth
            prefix_rewrite: "/"
            timeout: 0s
            max_stream_duration:
              grpc_timeout_header_max: 0s
        - match: { prefix: "/payments/" }
          route:
            cluster: payments
            prefix_rewrite: "/"
            timeout: 0s
            max_stream_duration:
              grpc_timeout_header_max: 0s
        - match: { prefix: "/api/" }
          route:
            cluster: api
            prefix_rewrite: "/"
            timeout: 0s
            max_stream_duration:
              grpc_timeout_header_max: 0s
        - match: { prefix: "/" }
          route: { cluster: __WEB_CLUSTER__ }
          request_headers_to_add:
            - header:
                key: "x-client"
                value: "__VHOST_NAME__"
              append_action: OVERWRITE_IF_EXISTS_OR_ADD
